<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Browse List of Asteroids</h1>
  <a href="asteroid/add">Add</a>
  <table>
    <tr>
      <td>NAME</td>
      <td>MASS</td>
      <td>ACTIONS</td>
    </tr>
    <% for (let property in asteroidList) { %>
      <tr>
        <td><%= asteroidlist[property].name %></td>
        <td><%= asteroidList[property].mass %></td>
        <td><a href="/asteroid/<%= asteroidList[property].name%>/delete"></a> Delete</a></td>
      </tr>
      <% } %>
  </table>
  
</body>
</html>